#main {
	font-family: 'Lato', sans-serif;
	font-size: 22px;
	margin-left: 10%;
	position: fixed;
	text-align: center;
	top: 150px;
	width: 80%;
}

#greeting {
	font-size: 25px;
	margin-bottom: 15px;
}

@media (max-width:1020px) {
	#main {
		font-size: 20px;
	}
}